#SignInBlock{
    width: 450px;
    height: 660px;
    background: #000000b0;
    display: flex;
    justify-content: center;
    border-radius: 5px;
    z-index: 999;
}
#InputSign{
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 314px;
    width: 335px;
}
#InputInfo{
    height: 50%;

}
#text{
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 28px;
    position: relative;
    top: 20px;
    left: 8px;
    font-family: Arial, Helvetica, sans-serif;
}

 .teste {
    color: 'green',
  }

 
  